<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toy.project.ctudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CtudyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTUDY"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.RoomAddActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|fontScale"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SignActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|fontScale"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|fontScale"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|fontScale"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.IntroActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|fontScale"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|fontScale"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
    </application>

</manifest>